<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8">

      <div class="row justify-content-center" *ngIf="isUserCoach">
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">
          <form [formGroup]="trainingTemplate">
            <div class="form-group">
              <h6 class="text-center">Apply A Template</h6>

              <hr>

              <select
                id="template"
                formControlName = "template"
                class="form-control">
                <option [value]="null">Choose One ...</option>
                <option *ngFor="let template of templates"
                        [value]="template.Id">
                  {{ template.Name }}
                </option>
              </select>
            </div>

            <div class="text-center">
              <button class="btn btn-outline-primary" type="button" [disabled]="!trainingTemplate.valid" (click)="onApplyTemplateClicked()">Apply Selected Template</button>
            </div>
          </form>

        </div>
      </div>

      <hr *ngIf="isUserCoach">

      <form [formGroup]="trainingLogEntry" (ngSubmit)="onSubmit()">
        <div id="step_1" *ngIf="pageId === 1">

          <ul class="pagination justify-content-center">
            <li class="page-item active">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(1)">1: The Info</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(2)">2: The Data</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(3)">3: The Comments</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onNextClicked()"><i class="fa fa-caret-right"></i></a>
            </li>
          </ul>

          <hr>

          <!-- FORM DETAILS START -->

          <div class="form-group">
            <label for="Log_Name">Entry Name</label>
            <input
              type="text"
              id="Log_Name"
              maxlength="30"
              formControlName = "Log_Name"
              class="form-control">
          </div>

          <div class="form-group">
            <label for="Log_Date">Entry Date *</label>
            <input
              type="date"
              id="Log_Date"
              formControlName = "Log_Date"
              class="form-control">
            <span
              *ngIf="!trainingLogEntry.get('Log_Date').valid && trainingLogEntry.get('Log_Date').touched"
              class="help-block">
              <span *ngIf="trainingLogEntry.get('Log_Date').errors['required']">
                Entry Date is required!
              </span>
            </span>
          </div>

          <div class="form-group">
            <label for="Log_Time">Entry Time</label>
            <input
              type="time"
              id="Log_Time"
              formControlName = "Log_Time"
              class="form-control">
          </div>

          <div class="form-group">
            <label for="Log_Description">Entry Description</label>
            <textarea
              id="Log_Description"
              formControlName = "Log_Description"
              maxlength="500"
              rows="6"
              class="form-control">
            </textarea>
          </div>

          <div class="form-group">
            <label for="Log_Type">Entry Type *</label>
            <select
              id="Log_Type"
              formControlName = "Log_Type"
              class="form-control">
              <option *ngFor="let type of trainingLogTypes; let i = index"
                      [value]="i + 1">
                {{ type }}
              </option>
            </select>
            <span
              *ngIf="!trainingLogEntry.get('Log_Type').valid && trainingLogEntry.get('Log_Type').touched"
              class="help-block">
              <span *ngIf="trainingLogEntry.get('Log_Type').errors['required']">
                Entry Type is required!
              </span>
            </span>
          </div>

          <!-- FORM DETAILS END -->
        </div>



        <div id="step_2" *ngIf="pageId === 2">

          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onBackClicked()"><i class="fa fa-caret-left"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(1)">1: The Info</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(2)">2: The Data</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(3)">3: The Comments</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onNextClicked()"><i class="fa fa-caret-right"></i></a>
            </li>
          </ul>

          <hr>

          <!-- FORM DETAILS START -->

          <div class="row justify-content-center">
            <!-- Planned Data Column -->
            <div class="col-md-6 col-lg-6 col-xl-6">

              <h5 class="text-center">Planned Values</h5>

              <hr>

              <div class="form-group">
                <label for="Duration_Planned">Duration</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="Duration_Planned"
                    step="1"
                    formControlName = "Duration_Planned"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="Distance_Planned">Distance</label>
                <div class="input-group">
                  <input
                    type="number"
                    id="Distance_Planned"
                    formControlName = "Distance_Planned"
                    class="form-control">
                  <div class="input-group-append">
                    <select
                      id="Distance_Unit_Planned"
                      [(ngModel)] = "trainingLogDistanceType"
                      [ngModelOptions]="{standalone: true}"
                      class="form-control">
                      <option *ngFor="let measureType of trainingLogMeasureTypes"
                              [value]="measureType.key">
                        {{ measureType.value }}
                      </option>
                    </select>
                  </div>
                </div>
                <span
                  *ngIf="!trainingLogEntry.get('Distance_Planned').valid && trainingLogEntry.get('Distance_Planned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('Distance_Planned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Distance_Planned').errors['max']">
                    Max value is 9999!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Distance_Planned').errors['pattern']">
                    Max 2 decimal places!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="HR_Resting_Planned">Resting HeartRate</label>
                <input
                  type="number"
                  id="HR_Resting_Planned"
                  formControlName = "HR_Resting_Planned"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('HR_Resting_Planned').valid && trainingLogEntry.get('HR_Resting_Planned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('HR_Resting_Planned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('HR_Resting_Planned').errors['max']">
                    Max value is 999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="HR_Avg_Planned">Average HeartRate</label>
                <input
                  type="number"
                  id="HR_Avg_Planned"
                  formControlName = "HR_Avg_Planned"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('HR_Avg_Planned').valid && trainingLogEntry.get('HR_Avg_Planned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('HR_Avg_Planned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('HR_Avg_Planned').errors['max']">
                    Max value is 999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="HR_Max_Planned">Max HeartRate</label>
                <input
                  type="number"
                  id="HR_Max_Planned"
                  formControlName = "HR_Max_Planned"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('HR_Max_Planned').valid && trainingLogEntry.get('HR_Max_Planned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('HR_Max_Planned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('HR_Max_Planned').errors['max']">
                    Max value is 999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="Watts_Avg_Planned">Average Watts</label>
                <input
                  type="number"
                  id="Watts_Avg_Planned"
                  formControlName = "Watts_Avg_Planned"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('Watts_Avg_Planned').valid && trainingLogEntry.get('Watts_Avg_Planned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('Watts_Avg_Planned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Watts_Avg_Planned').errors['max']">
                    Max value is 9999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="Watts_Max_Planned">Max Watts</label>
                <input
                  type="number"
                  id="Watts_Max_Planned"
                  formControlName = "Watts_Max_Planned"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('Watts_Max_Planned').valid && trainingLogEntry.get('Watts_Max_Planned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('Watts_Max_Planned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Watts_Max_Planned').errors['max']">
                    Max value is 9999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="RPE_Planned">RPE (1-10)</label>
                <input
                  type="number"
                  id="RPE_Planned"
                  formControlName = "RPE_Planned"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('RPE_Planned').valid && trainingLogEntry.get('RPE_Planned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('RPE_Planned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('RPE_Planned').errors['max']">
                    Max value is 10!
                  </span>
                </span>
              </div>

              <hr>

            </div>

            <!-- Actual Data Column -->
            <div class="col-md-6 col-lg-6 col-xl-6">

              <h5 class="text-center">Actual Values</h5>

              <hr>

              <div class="form-group">
                <label for="Duration_Actual">Duration</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="Duration_Actual"
                    step="1"
                    formControlName = "Duration_Actual"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="Distance_Actual">Distance</label>
                <div class="input-group">
                  <input
                    type="number"
                    id="Distance_Actual"
                    formControlName = "Distance_Actual"
                    class="form-control">
                  <div class="input-group-append">
                    <select
                      id="Distance_Unit_Actual"
                      [(ngModel)] = "trainingLogDistanceType"
                      [ngModelOptions]="{standalone: true}"
                      class="form-control">
                      <option *ngFor="let measureType of trainingLogMeasureTypes"
                              [value]="measureType.key">
                        {{ measureType.value }}
                      </option>
                    </select>
                  </div>
                </div>
                <span
                  *ngIf="!trainingLogEntry.get('Distance_Actual').valid && trainingLogEntry.get('Distance_Actual').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('Distance_Actual').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Distance_Actual').errors['max']">
                    Max value is 9999!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Distance_Actual').errors['pattern']">
                    Max 2 decimal places!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="HR_Resting_Actual">Resting HeartRate</label>
                <input
                  type="number"
                  id="HR_Resting_Actual"
                  formControlName = "HR_Resting_Actual"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('HR_Resting_Actual').valid && trainingLogEntry.get('HR_Resting_Actual').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('HR_Resting_Actual').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('HR_Resting_Actual').errors['max']">
                    Max value is 999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="HR_Avg_Actual">Average HeartRate</label>
                <input
                  type="number"
                  id="HR_Avg_Actual"
                  formControlName = "HR_Avg_Actual"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('HR_Avg_Actual').valid && trainingLogEntry.get('HR_Avg_Actual').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('HR_Avg_Actual').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('HR_Avg_Actual').errors['max']">
                    Max value is 999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="HR_Max_Actual">Max HeartRate</label>
                <input
                  type="number"
                  id="HR_Max_Actual"
                  formControlName = "HR_Max_Actual"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('HR_Max_Actual').valid && trainingLogEntry.get('HR_Max_Actual').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('HR_Max_Actual').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('HR_Max_Actual').errors['max']">
                    Max value is 999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="Watts_Avg_Actual">Average Watts</label>
                <input
                  type="number"
                  id="Watts_Avg_Actual"
                  formControlName = "Watts_Avg_Actual"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('Watts_Avg_Actual').valid && trainingLogEntry.get('Watts_Avg_Actual').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('Watts_Avg_Actual').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Watts_Avg_Actual').errors['max']">
                    Max value is 9999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="Watts_Max_Actual">Max Watts</label>
                <input
                  type="number"
                  id="Watts_Max_Actual"
                  formControlName = "Watts_Max_Actual"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('Watts_Max_Actual').valid && trainingLogEntry.get('Watts_Max_Actual').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('Watts_Max_Actual').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Watts_Max_Actual').errors['max']">
                    Max value is 9999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="RPE_Actual">RPE (1-10)</label>
                <input
                  type="number"
                  id="RPE_Actual"
                  formControlName = "RPE_Actual"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('RPE_Actual').valid && trainingLogEntry.get('RPE_Actual').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('RPE_Actual').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('RPE_Actual').errors['max']">
                    Max value is 10!
                  </span>
                </span>
              </div>

              <hr>

            </div>
          </div>


          <div class="row justify-content-center">
            <!-- Other Data Column -->
            <div class="col-md-12 col-lg-12 col-xl-12">
              <h5 class="text-center">Additional Values</h5>

              <hr>

              <div class="form-group">
                <label for="Calories_Burned">Calories Burned</label>
                <input
                  type="number"
                  id="Calories_Burned"
                  formControlName = "Calories_Burned"
                  class="form-control">
                <span
                  *ngIf="!trainingLogEntry.get('Calories_Burned').valid && trainingLogEntry.get('Calories_Burned').touched"
                  class="help-block">
                  <span *ngIf="trainingLogEntry.get('Calories_Burned').errors['min']">
                    Enter a value greater than 0!
                  </span>
                  <span *ngIf="trainingLogEntry.get('Calories_Burned').errors['max']">
                    Max value is 9999!
                  </span>
                </span>
              </div>

              <div class="form-group">
                <label for="HR_Zone1_Time">HR Zone 1 Time</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="HR_Zone1_Time"
                    step="1"
                    formControlName = "HR_Zone1_Time"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="HR_Zone2_Time">HR Zone 2 Time</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="HR_Zone2_Time"
                    step="1"
                    formControlName = "HR_Zone2_Time"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="HR_Zone3_Time">HR Zone 3 Time</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="HR_Zone3_Time"
                    step="1"
                    formControlName = "HR_Zone3_Time"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="HR_Zone4_Time">HR Zone 4 Time</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="HR_Zone4_Time"
                    step="1"
                    formControlName = "HR_Zone4_Time"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="HR_Zone5_Time">HR Zone 5 Time</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="HR_Zone5_Time"
                    step="1"
                    formControlName = "HR_Zone5_Time"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="HR_Zone6_Time">HR Zone 6 Time</label>
                <div class="input-group time">
                  <input
                    type="time"
                    id="HR_Zone6_Time"
                    step="1"
                    formControlName = "HR_Zone6_Time"
                    class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">hh:mm:ss</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="Sleep_Quality">Sleep Quality</label>
                <select
                  id="Sleep_Quality"
                  formControlName = "Sleep_Quality"
                  class="form-control">
                  <option *ngFor="let quality of trainingLogSleepQuality; let i = index"
                          [value]="i + 1">
                    {{ quality }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <br>

          <!-- FORM DETAILS END -->

          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onBackClicked()"><i class="fa fa-caret-left"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(1)">1: The Info</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(2)">2: The Data</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(3)">3: The Comments</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onNextClicked()"><i class="fa fa-caret-right"></i></a>
            </li>
          </ul>
        </div>



        <div id="step_3" *ngIf="pageId === 3">

          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onBackClicked()"><i class="fa fa-caret-left"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(1)">1: The Info</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(2)">2: The Data</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript:void(0);" (click)="onPageClicked(3)">3: The Comments</a>
            </li>
          </ul>

          <hr>

          <!-- FORM DETAILS START -->

          <div class="form-group">
            <label for="Athletes_Comments">Athletes Comments</label>
            <textarea
              id="Athletes_Comments"
              formControlName = "Athletes_Comments"
              maxlength="250"
              rows="6"
              class="form-control">
            </textarea>
          </div>

          <div class="form-group">
            <label for="Coaches_Comments">Coaches Comments</label>
            <textarea
              id="Coaches_Comments"
              formControlName = "Coaches_Comments"
              maxlength="250"
              rows="6"
              class="form-control">
            </textarea>
          </div>

          <div class="form-group">
            <label for="Workout_Comments">Workout Comments</label>
            <textarea
              id="Workout_Comments"
              formControlName = "Workout_Comments"
              maxlength="500"
              rows="6"
              class="form-control">
            </textarea>
          </div>

          <!-- FORM DETAILS END -->

          <div class="text-center">
            <button class="btn btn-outline-primary" type="submit" [disabled]="!trainingLogEntry.valid" *ngIf="pageName === 'create'">Create New Entry</button>
            <button class="btn btn-outline-primary" type="submit" [disabled]="!trainingLogEntry.valid" *ngIf="pageName === 'edit'">Update Entry</button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
