<br>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col">

      <h2 class="text-center">Your Training Log</h2>

      <br>

      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="./calendar" routerLinkActive="active">Calender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="./list" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="./create" routerLinkActive="active">Create</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<br>

<router-outlet></router-outlet>
