<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8">

      <ul class="nav nav-tabs justify-content-md-center">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="./profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="./password" routerLinkActive="active">Password</a>
        </li>
      </ul>

      <br>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
